<div class="home-container">
  <div class="home-container01">
    <span class="home-text">
      ⚠ ¡ESPERE: NO CIERRE NI ACTUALICE ESTA PÁGINA!
    </span>
    <h1 class="home-text001">
      <span class="home-text002">
        Maximiza el engorde de manera
        <span [innerHTML]="rawacea"></span>
      </span>
      <span class="home-text003">eficiente y sostenible de</span>
      <span class="home-text004"><span [innerHTML]="raw5lyd"></span></span>
      <span class="home-text005">tilapia</span>
      <span class="home-text006"><span [innerHTML]="raws1yq"></span></span>
      <span class="home-text007">con la</span>
      <span class="home-text008"><span [innerHTML]="raw4l9l"></span></span>
      <span class="home-text009">tecnología Biofloc 2.0</span>
    </h1>
    <video
      src="https://www.youtube.com/watch?v=d0ygjbWFLQg"
      poster="https://play.teleporthq.io/static/svg/videoposter.svg"
      preload="auto"
      class="home-video"
    ></video>
  </div>
  <div class="home-container02">
    <h2 class="home-conviertete-en-un-experto">
      Conviértete en un experto en producción de tilapia con Biofloc 2.0 y
      lidera el camino en acuicultura
    </h2>
    <span class="home-text010">
      <span>
        ¿Estás interesado en mejorar la eficiencia de tu proyecto de acuicultura
        y obtener mejores resultados en la producción de peces? Entonces, ¡no
        busques más! Nuestro curso de Producción de Tilapia con Tecnología
        Biofloc es la solución perfecta para ti.
        <span [innerHTML]="raw7tj1"></span>
      </span>
      <br />
      <br />
      <span>
        La tecnología Biofloc es una técnica innovadora que permite una
        producción más eficiente y un mejor control de la calidad del agua, lo
        que se traduce en una producción más sostenible y rentable de peces.
        Nuestro curso de Biofloc en acuicultura le brinda todo lo que necesita
        para superar desafíos y aprovechar al máximo los beneficios de esta
        tecnología.
      </span>
      <br />
      <br />
      <span>
        Pero antes de explicar en detalle todo lo que aprenderás en el Curso de
        Producción de Tilapia con Tecnología Biofloc 2.0, queremos compartir
        algunos de los resultados que hemos conseguido implementando todo lo que
        te vamos a enseñar...
      </span>
    </span>
    <h3 class="home-text018">
      Estas son Tilapias cosechadas en nuestros sistemas con Biofloc 2.0...
    </h3>
    <img
      alt="image"
      src="/assets/playground_assets/tilapias%20con%20biofloc%2001-1200w.jpg"
      class="home-image"
    />
    <img
      alt="image"
      src="/assets/playground_assets/tilapias%20con%20biofloc%2002-1200w.jpg"
      class="home-image1"
    />
    <img
      alt="image"
      src="/assets/playground_assets/tilapias%20con%20biofloc%2003-1200w.jpg"
      class="home-image2"
    />
    <span class="home-text019">
      <span>
        Podríamos mostrarte muchos más resultados, pero creo que con lo que te
        acabamos de mostrar puedes darte cuenta del enorme potencial que hay en
        la implementación de Biofloc en la producción acuicola siguiendo nuestra
        metodología.
        <span [innerHTML]="rawwiih"></span>
      </span>
      <br class="home-text021" />
      <br />
      <span>
        Lo mejor de todo es que cuando aprendas a producir Tilapias con Biofloc,
        comenzarás a crecer de forma exponencial sus ingresos.
      </span>
    </span>
    <h3 class="home-text024">
      El punto clave es entender que con lo que aprenderás en el Curso de
      Producción de Tilapia con Tecnología Biofloc 2.0:
    </h3>
    <span class="home-text025">
      <span>
        ✅ Aprenderás a duplicar tu capacidad de producción empleando más
        eficientemente el alimento y reduciendo el consumo de agua.
      </span>
      <br class="home-text027" />
      <br />
      <span>✅ </span>
      <span>
        Obtendrás el Manual de cultivo y calculadora en excel para realizar
        cálculos para fertilizar de manera rápida y segura.
      </span>
      <br class="home-text031" />
      <br />
      <span>✅ </span>
      <span>
        Tendrás aprendizaje contínuo, podrás revisar los videos las veces
        necesarias, acceso de por vida a todas las actualizaciones.
      </span>
    </span>
    <h3 class="home-text035">
      <span>
        Y no sólo eso, cuando apliques todo lo que te vamos a enseñar vas a
        obtener los siguientes beneficios:
      </span>
      <br />
    </h3>
    <span class="home-text038">
      <span>
        👉 Duplicar la capacidad de producción.
        <span [innerHTML]="rawyg2k"></span>
      </span>
      <br class="home-text040" />
      <br />
      <span>👉 </span>
      <span>
        Reducir los riesgos y enfermedades.
        <span [innerHTML]="rawzv8z"></span>
      </span>
      <br class="home-text044" />
      <br />
      <span>👉 </span>
      <span>
        Reducir los costos de alimentación.
        <span [innerHTML]="rawee53"></span>
      </span>
      <br class="home-text048" />
      <br />
      <span>👉 </span>
      <span>
        Incrementar la rentabilidad.
        <span [innerHTML]="rawlpv1"></span>
      </span>
      <br class="home-text052" />
      <br />
      <span>👉 </span>
      <span>
        Poducir de forma ambientalmente amigable.
        <span [innerHTML]="rawwh1z"></span>
      </span>
      <br class="home-text056" />
      <br />
      <span>👉</span>
      <span>Controlar la calidad del agua y reducir los costos de bombeo.</span>
    </span>
    <div class="home-container03">
      <div class="home-container04">
        <h3 class="home-text060">
          <span>
            ¿Cuál es el objetivo del Curso de Producción de Tilapia con
            Tecnología Biofloc 2.0?
          </span>
          <br />
        </h3>
        <span class="home-text063">
          El objetivo de este curso es enseñar todo lo relacionado con la
          tecnología Biofloc, permitirle acceder a información de crianza y
          engorde de especies de alto valor comercial y nutricional empleando de
          forma eficiente y controlada el agua, tierra y alimento a través de un
          sustema ecológico e hiper intensivo.
        </span>
      </div>
      <div class="home-container05">
        <img
          alt="image"
          src="/assets/playground_assets/producci%C3%B3n%20de%20tilapia-1200w.png"
          class="home-image3"
        />
      </div>
    </div>
    <h3 class="home-text064">
      <span>
        El Curso de Producción de Tilapia con Biofloc se centra en los
        conocimientos que necesitan los productores acuicolas
      </span>
      <br />
    </h3>
    <span class="home-text067">
      <span>
        La acuicultura moderna puede ser una opción rentable y sostenible para
        aquellos que quieran emprender en el sector. Con el uso de Biofloc, se
        pueden superar muchos de los obstáculos que han impedido el éxito en el
        pasado.
        <span [innerHTML]="rawmdjk"></span>
      </span>
      <br class="home-text069" />
      <br class="home-text070" />
      <span>
        En nuestro curso te capacitarémos en el control de la calidad del agua y
        a reducir la muerte de los peces. Además, compartiremos una gran
        cantidad de información y recursos para ayudarte a comprender los
        parámetros ideales como el nitrito, amonio, oxígeno, PH y temperaturas
        que promuevan el crecimiento y engorde de tus peces.
        <span [innerHTML]="rawyiqv"></span>
      </span>
      <br class="home-text072" />
      <br />
      <span>
        Por último, la implementación de Biofloc puede ser una opción accesible
        para aquellos que temen no poder emprender en acuicultura, y con nuestro
        curso puede ser aprendido de manera efectiva.
        <span [innerHTML]="rawz56r"></span>
      </span>
      <br class="home-text075" />
      <br />
      <span>
        ¡No dejes que los obstáculos te detengan! Emprender en acuicultura con
        Biofloc puede ser una decisión inteligente y rentable.
      </span>
    </span>
    <h3 class="home-text078">Todo lo que necesitas...</h3>
    <span class="home-text079">
      <span class="home-text080">
        Durante el Curso de Producción de Tilapias con Tecnología Biofloc 2.0
        nos enfocamos en:
      </span>
      <br class="home-text081" />
      <br />
      <span>
        ➡
        <span [innerHTML]="rawcpb9"></span>
      </span>
      <span class="home-text084">Módulo 1:</span>
      <span>
        Introducción a la tecnología Biofloc.
        <span [innerHTML]="rawondy"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="raw2kjf"></span>
      </span>
      <span class="home-text088">Módulo 2:</span>
      <span>
        Protocolo de fertilización.
        <span [innerHTML]="rawli4i"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="rawqr7c"></span>
      </span>
      <span class="home-text092">Módulo 3:</span>
      <span>
        Control de la calidad de agua.
        <span [innerHTML]="rawxyx5"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="rawjcad"></span>
      </span>
      <span class="home-text096">Módulo 4:</span>
      <span>
        Reducción de costos de alimentación.
        <span [innerHTML]="rawfuwa"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="raw9vlq"></span>
      </span>
      <span class="home-text100">Módulo 5:</span>
      <span>
        Problemas que pueden surgir en tanques operados con la tecnología
        Biofloc.
        <span [innerHTML]="raw5wu5"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="rawa5i8"></span>
      </span>
      <span class="home-text104">Módulo 6:</span>
      <span>
        Estrategias de manejo.
        <span [innerHTML]="raw35ru"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="rawfh09"></span>
      </span>
      <span class="home-text108">Módulo 7:</span>
      <span>
        Nuevas tendencias y avances para el Biofloc.
        <span [innerHTML]="rawhnc8"></span>
      </span>
      <br />
      <span>
        ➡
        <span [innerHTML]="rawcvkr"></span>
      </span>
      <span class="home-text112">Bonus:</span>
      <span>Uso de sal en la acuacultura.</span>
      <br class="home-text114" />
      <br />
      <span>
        Solo necesitas la información adecuada y los mentores adecuados.
      </span>
    </span>
    <h3 class="home-text117">
      Es por eso que en el Curso de Producción de Tilapia con Biofloc nos vamos
      a enfocar en 5 temas:
    </h3>
    <span class="home-text118">
      <span>
        ✅ Ahorro de alimento
        <span [innerHTML]="raw7ms8"></span>
      </span>
      <br class="home-text120" />
      <br />
      <span>
        ✅ Ahorro de agua
        <span [innerHTML]="rawtfzy"></span>
      </span>
      <br class="home-text123" />
      <br />
      <span>
        ✅ Mayor bioseguridad
        <span [innerHTML]="rawktke"></span>
      </span>
      <br class="home-text126" />
      <br />
      <span>✅ Mayor rendimiento</span>
      <br class="home-text129" />
      <br />
      <span>✅ Cosechas de mayor calidad</span>
    </span>
    <h3 class="home-text132">
      ¿Por qué implementar Biofloc en tus proyectos acuicolas?
    </h3>
    <span class="home-text133">
      <span>
        El Biofloc es una tecnología innovadora para la producción acuícola que
        permite controlar la calidad del agua y mejorar la salud de los peces.
        Al implementar Biofloc en sus proyectos acuícolas, se puede lograr una
        mayor eficiencia en la producción de peces, una reducción en los costos
        de alimentación y una menor dependencia de los productos químicos.
        <span [innerHTML]="rawaviw"></span>
      </span>
      <br class="home-text135" />
      <br />
      <span>
        Además, esta tecnología es más sostenible y respetuosa con el medio
        ambiente, lo que puede ser una ventaja importante para los productores.
        <span [innerHTML]="raw8x6c"></span>
      </span>
      <br class="home-text138" />
      <br />
      <span>
        La implementación de biofloc es un paso hacia un futuro más sostenible
        en la producción acuícola.
      </span>
    </span>
    <h3 class="home-text141">
      ¿Cómo saber si esto es para ti?
      <span [innerHTML]="rawro1k"></span>
    </h3>
    <span class="home-text142">
      <span>
        Seguramente en este momento estés pensando...
        <span [innerHTML]="rawmuis"></span>
      </span>
      <span class="home-text144">
        &quot;Todo esto está muy interesante, pero ¿Realmente será para
        mí?&quot;
      </span>
      <br class="home-text145" />
      <br />
      <span>
        Así que vamos a explicarte para quién es Curso de Producción de Tilapias
        con Tecnología Biofloc 2.0...
      </span>
      <br class="home-text148" />
      <br />
      <span>
        👉 Para personas que desean
        <span [innerHTML]="rawixz2"></span>
      </span>
      <span class="home-text151">
        aprender a implementar Biofloc en peces de agua dulce y salada
      </span>
      <span>.</span>
      <br class="home-text153" />
      <br />
      <span>
        👉 Para emprendedores que quieren
        <span [innerHTML]="rawmy88"></span>
      </span>
      <span class="home-text156">romper el miedo</span>
      <span>
        de iniciar un proyecto acuícola por el temor en que sea una inversión
        muy alta.
      </span>
      <br class="home-text158" />
      <br />
      <span>
        👉 Para productores que
        <span [innerHTML]="raw8rys"></span>
      </span>
      <span class="home-text161">han perdido dinero y tiempo</span>
      <span>implementando recomendaciones que no han funcionado.</span>
      <br class="home-text163" />
      <br />
      <span>
        👉 Para productores que ya tengan proyectos acuícolas pero
        <span [innerHTML]="raw9ede"></span>
      </span>
      <span class="home-text166">
        desean una mayor cantidad de peces empleando la menor cantidad de agua,
        espacio y alimento
      </span>
      <span>.</span>
      <br class="home-text168" />
      <br />
      <span>
        👉 Para productores que
        <span [innerHTML]="raw0asb"></span>
      </span>
      <span class="home-text171">
        tengan problemas con el estado físico-químico del agua
      </span>
      <span>
        con parámetros ideales en oxígeno, PH, temperaturas, amónio, nitritos y
        nitratos.
      </span>
      <br class="home-text173" />
      <br />
      <span>
        👉 Para productores que quiera saber
        <span [innerHTML]="raw6uk7"></span>
      </span>
      <span class="home-text176">
        cómo implementar Biofloc reduciendo su consumo eléctrico
      </span>
      <span>.</span>
    </span>
    <h3 class="home-text178">
      ¿Qué aprenderás en Curso de Producción de Tilapia con Biofloc 2.0?
    </h3>
    <span class="home-text179">
      <span>
        Estas son algunas de las cosas que aprenderás a implementar...
      </span>
      <br class="home-text181" />
      <br />
      <span>
        ✅ Aprende las bases de la tecnología Biofloc.
        <span [innerHTML]="rawnat6"></span>
      </span>
      <br class="home-text184" />
      <br />
      <span>
        ✅ Protocolo de fertilización.
        <span [innerHTML]="raw40kw"></span>
      </span>
      <br class="home-text187" />
      <br />
      <span>
        ✅ Control de la calidad de agua.
        <span [innerHTML]="rawfd2v"></span>
      </span>
      <br class="home-text190" />
      <br />
      <span>
        ✅ Reducción de costos de alimentación.
        <span [innerHTML]="raw73xg"></span>
      </span>
      <br class="home-text193" />
      <br />
      <span>
        ✅ Problemas que pueden surgir en tanques operados con la tecnología
        Biofloc.
        <span [innerHTML]="rawldgq"></span>
      </span>
      <br class="home-text196" />
      <br />
      <span>
        ✅ Estrategias de manejo.
        <span [innerHTML]="rawo176"></span>
      </span>
      <br class="home-text199" />
      <br />
      <span>
        ✅ Nuevas tendencias y avances para el Biofloc.
        <span [innerHTML]="raw015k"></span>
      </span>
    </span>
  </div>
  <div class="home-container06">
    <span class="home-text202">
      Olvídate de tener que invertir tanto en alimentación y convierte ese costo
      en ingresos.
    </span>
  </div>
  <div class="home-container07">
    <h3 class="home-text203">
      Ahora hablemos de tu inversión...
      <span [innerHTML]="rawb9l2"></span>
    </h3>
    <span class="home-text204">
      <span>
        Recuerda que en el Curso de Producción de Tilapias con Biofloc 2.0 nos
        vamos a enfocar en
        <span [innerHTML]="raw3fku"></span>
      </span>
      <span class="home-text206">
        5 temas claves para ayudarte a aumentar tu producción piscicola con
        peces de calidad
      </span>
      <span>
        :
        <span [innerHTML]="raw7sr6"></span>
      </span>
      <br />
      <br />
      <span>
        01 - Ahorro de alimento
        <span [innerHTML]="raw4qag"></span>
      </span>
      <br />
      <span>02 - Ahorro de agua</span>
      <br />
      <span>
        03 - Mayor bioseguridad
        <span [innerHTML]="rawz474"></span>
      </span>
      <br />
      <span>04 - Mayor rendimiento</span>
      <br />
      <span>05 - Cosechas de mayor calidad</span>
      <br />
      <br />
      <span>
        Si vendiéramos cada uno de estos entrenamientos por separado...
        Fácilmente podríamos vender cada uno en $100 dólares cómo mínimo.
      </span>
      <br />
      <br />
      <span class="home-text224">
        Lo cuál sería un regalo teniendo en cuenta que aprenderás la metodología
        que te permitirá aumentar tus ingresos vendiendo más peces por cosecha y
        de mejor calidad.
      </span>
      <span><span [innerHTML]="rawd266"></span></span>
      <br />
      <br />
      <span>
        Entonces ¿Cuánto esperarías pagar por un programa que te enseñará la
        metodología para aumentar tu cantidad de peces empleando la menor
        cantidad de agua, espacio y alimento?
        <span [innerHTML]="raw75pb"></span>
      </span>
      <br />
      <br />
      <span>
        Aunque este programa lo podríamos vender en 500 Dólares con todos los
        beneficios actuales más todo lo que próximamente estaremos agregando...
        <span [innerHTML]="raw4alk"></span>
      </span>
      <br />
      <br />
      <span class="home-text234">
        Queremos ayudar a la mayor cantidad de personas...
        <span [innerHTML]="rawjwt5"></span>
      </span>
      <br class="home-text235" />
      <br class="home-text236" />
      <span class="home-text237">
        Es por eso que por tiempo limitado vas a poder inscribirte al Curso de
        Producción de Tilapias con Tecnología Biofloc 2.0
        <span [innerHTML]="rawxejt"></span>
      </span>
      <span class="home-text238">POR SOLO 94 Dólares</span>
      <span class="home-text239">...</span>
    </span>
    <h3 class="home-text240">
      <span>¿Quiénes serán tus instructoras?</span>
      <br />
    </h3>
    <span class="home-text243">
      <span>
        Queremos que
        <span [innerHTML]="raww7m8"></span>
      </span>
      <span class="home-text245">
        adquieras este conocimiento de personas capacitadas y con experiencia
      </span>
      <span>
        , que pertenezcan al mundo académico pero también que sean personas que
        apliquen en su día a día lo que podrás aprender. Es por eso que el Curso
        de Producción de Tilapia con Biofloc lo dictan dos mujeres profesionales
        que han aplicado este conocimiento en la Acuícola Garza,
        <span [innerHTML]="rawthkg"></span>
      </span>
      <span class="home-text247">
        productores de tilapia desde hace 8 años con la tecnología Biofloc
      </span>
      <span>:</span>
    </span>
    <div class="home-container08">
      <div class="home-container09">
        <img
          alt="image"
          src="/assets/playground_assets/adriana%20da%20silva-800w.png"
          class="home-image4"
        />
        <span class="home-text249">
          <span class="home-text250">Dra. Adriana da Silva.</span>
          <span><span [innerHTML]="rawdxb1"></span></span>
          <br />
          <span>
            Brasileña. Consultora con más de 15 años de experiencia. Profesora
            en UADY y con negocios propios en el ramo acuícola sustentable. Es
            Zootecnista (UEM), Maestra en Acuicultura p (FURG) y Doctorada en
            Ciencias del Mar, (UNAM). Columnista de Panorama Acuícola Magazine,
            donde habla exclusivamente del Biofloc.
            <span [innerHTML]="rawumkq"></span>
          </span>
          <br class="home-text254" />
          <br />
        </span>
      </div>
      <div class="home-container10">
        <img
          alt="image"
          src="/assets/playground_assets/sagrario%20padilla-800w.png"
          class="home-image5"
        />
        <span class="home-text256">
          <span class="home-text257">M.A. Sagrario Padilla.</span>
          <span><span [innerHTML]="rawv17j"></span></span>
          <br />
          <span>
            Mexicana. Empresaria con 8 años en negocios sustentables para la
            producción de alimentos, para la producción con Biofloc. Es Medico
            Veterinario y Zootecnista (UADY), y Maestra en Administración de
            Empresas (TecMTY). Promotora para la inclusión de nuevas tecnologías
            en la producción actual.
          </span>
        </span>
      </div>
    </div>
    <h2 class="home-text261">
      <span>
        Es el momento de ingresar al Curso de Producción de Tilapia con
        Tecnología Biofloc 2.0
      </span>
      <br />
    </h2>
    <h3 class="home-text264">
      <span class="home-text265">
        $94 USD
        <span [innerHTML]="rawls19"></span>
      </span>
      <span class="home-text266">/ Pago Único</span>
      <br />
    </h3>
    <span class="home-text268">
      Una vez ingrese a la zona de pago, el valor aparecerá en su moneda local
    </span>
    <span class="home-text269">
      <span class="home-text270">
        🎯
        <span [innerHTML]="rawzgt6"></span>
      </span>
      <span class="home-text271">
        Módulo 1:
        <span [innerHTML]="raw3jr7"></span>
      </span>
      <span class="home-text272">Introducción a la tecnología Biofloc.</span>
      <br class="home-text273" />
      <span class="home-text274"><span [innerHTML]="raw1kz1"></span></span>
      <span class="home-text275">
        🎯
        <span [innerHTML]="raw45vr"></span>
      </span>
      <span class="home-text276">Módulo 2:</span>
      <span class="home-text277">
        Protocolo de fertilización.
        <span [innerHTML]="rawstyi"></span>
      </span>
      <br class="home-text278" />
      <span class="home-text279">
        🎯
        <span [innerHTML]="rawf56n"></span>
      </span>
      <span class="home-text280">Módulo 3:</span>
      <span class="home-text281">
        Control de la calidad de agua.
        <span [innerHTML]="raw6t25"></span>
      </span>
      <br class="home-text282" />
      <span class="home-text283">
        🎯
        <span [innerHTML]="raw98aw"></span>
      </span>
      <span class="home-text284">Módulo 4:</span>
      <span class="home-text285">
        Reducción de costos de alimentación.
        <span [innerHTML]="raw1vus"></span>
      </span>
      <br class="home-text286" />
      <span class="home-text287">
        🎯
        <span [innerHTML]="rawfgg5"></span>
      </span>
      <span class="home-text288">Módulo 5:</span>
      <span class="home-text289">
        Problemas que pueden surgir en tanques operados con la tecnología
        Biofloc.
        <span [innerHTML]="raw7gmf"></span>
      </span>
      <br class="home-text290" />
      <span class="home-text291">
        🎯
        <span [innerHTML]="raw315e"></span>
      </span>
      <span class="home-text292">Módulo 6:</span>
      <span class="home-text293">
        Estrategias de manejo.
        <span [innerHTML]="rawnj1n"></span>
      </span>
      <br class="home-text294" />
      <span class="home-text295">
        🎯
        <span [innerHTML]="raw6a5a"></span>
      </span>
      <span class="home-text296">Módulo 7:</span>
      <span class="home-text297">
        Nuevas tendencias y avances para el Biofloc.
        <span [innerHTML]="raw6x7u"></span>
      </span>
      <br class="home-text298" />
      <span class="home-text299">
        🎯
        <span [innerHTML]="rawqpow"></span>
      </span>
      <span class="home-text300">Bonus:</span>
      <span class="home-text301">Uso de sal en la acuicultura.</span>
      <br />
      <br />
      <span>
        Solo necesitas la información adecuada y los mentores adecuados.
      </span>
      <br />
      <br />
      <span>👉 </span>
      <span class="home-text308">Pago Único de $94 USD </span>
      <span>👈</span>
      <br />
    </span>
    <a
      href="https://go.hotmart.com/S79214827B?ap=4da2"
      target="_blank"
      rel="noreferrer noopener"
      class="home-link button"
    >
      ¡SÍ, QUIERO asegurar mi cupo!
    </a>
    <h3 class="home-text311">
      ¿Listo para alcanzar tu próximo nivel?
      <span [innerHTML]="rawytkq"></span>
    </h3>
    <span class="home-text312">
      Estamos seguros que con el Curso de Producción de Tilapia con Tecnología
      Biofloc 2.0 podrás lograr tus resultados, solo es aplicar de forma
      correcta nuestros consejos.
    </span>
  </div>
  <div class="home-container11">
    <span class="home-text313">
      Curso de Producción de Tilapia con Tecnología Biofloc 2.0
    </span>
  </div>
</div>
